
@{
    ViewBag.Title = "Departamento";
}
<h2 class="text-center" style=" margin:80px 0;">DEPARTAMENTO</h2>


    <div class="row" style=" margin:40px 0 100px 0;">
        <div class="col-md-3">
          
            <a href="/Admisiones/Admisiones/Admisiones.cshtml" /> <img src="../../Fotos/admisiones.png" width="200" height="200"></a>

        </div>
        <div class="col-md-3">
            <a href="/Admisiones/HistoriaClinica/HistoriaClinica.cshtml" /> <img src="../../Fotos/historia_clinica.png" width="200" height="200"></a>
            
        </div>
        <div class="col-md-3">
            <a href="/Admisiones/Farmacia/Farmacia.cshtml" /> <img src="../../Fotos/farmacia.png" width="200" height="200"></a>
            
        </div>
        <div class="col-md-3">
            <a href="/Admisiones/DietaPaciente/DietaPaciente.cshtml" /> <img src="../../Fotos/dieta.png" width="200" height="200"></a>
           
        </div>
    </div>

