@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"  style=" background-color:transparent; ">
    <h1 style=" color:#12083b">Hospital Santa Tecla</h1>
    <p class="lead">Desde el año 1942 en Medellin .</p>

</div>
<div class="row" style=" margin-bottom:40px;">
    <div class="col-md-3">
        <img src="../../Fotos/hospital1.jpg" class=" img-responsive"/>
    </div>
    <div class="col-md-3">
        <img src="../../Fotos/hospital2.jpg" class=" img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="../../Fotos/hospital3.jpg" class=" img-responsive" />
    </div>
    <div class="col-md-3">
        <img src="../../Fotos/hospital4.jpg" class=" img-responsive" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MISION</h2>
        <p>
            Somos un hospital público que presta servicios de salud de forma integral, segura y humana, comprometido con el desarrollo del talento humano en salud y la investigación
        </p>

    </div>
    <div class="col-md-4">
        <h2>VISION</h2>
        <p>Para 2027 seremos un hospital público universitario líder por su modelo de atención innovador y por ser generador de experiencias positivas en sus usuarios, sus colaboradores y su entorno.</p>

    </div>
    <div class="col-md-4">
        <h2>VALORES</h2>
        <ul>
            <li>Responsabilidad</li>
            <li>Solidaridad</li>
            <li>Respeto</li>
            <li>Vocación de servicio</li>
            <li>Honestidad</li>
            <li>Seguridad</li>
        </ul>
    </div>

</div>

<!--<div style="width:100%; height:500px; background:#ccc;"></div>-->
<hr style="color: #0056b2;" />
<!-- Footer -->
<footer class="footer text-center" style=" margin-top: 60px;">
    <div class="container">
        
</div>

</footer>