@{
    ViewBag.Title = "Santa Tecla, Hospital Universitario";
    }
<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-white" style=" padding-top:50px;">QUIENES SOMOS</h2>
        
        <div class="row" align="center" style=" padding:30px 20px;">
            <div class="col-lg-6 ml-auto">
                <p class="lead" align="justify" > La Red Santa Tecla es una agrupación de entidades públicas y privadas sin ánimo de lucro, que presta servicios de salud con énfasis en la atención del paciente de alta complejidad.La Red es heredera de los valores hospitalarios vivos en Tarragona desde 1171. </p>
            </div>
            <div class="col-lg-6 mr-auto">
                
                <p class="lead" align ="justify" > Desde sus orígenes ha velado por las necesidades sanitarias y sociales de las personas del territorio, apostando por un modelo de proximidad con más de 40 centros repartidos por el Tarragonès y el Baix Penedès.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 ml-auto">
                <h3 style=" font-weight:bold;">Objetivos y funciones</h3>
                <ul class="lead" >
                    <li>Producir servicios de salud eficientes y efectivos, según las normas establecidas.</li> 
                    <li>Prestar los servicios de salud que pueda ofrecer y que necesite la población de su área de influencia.</li>
                    <li>Garantizar la rentabilidad social y financiera mediante una gerencia adecuada.</li>
                    <li>Ofrecer a las entidades promotoras de salud o a quien lo demande, servicios o paquetes de servicios a tarifas competitivas en el mercado</li>
                    <li>Garantizar los mecanismos de participación ciudadana y comunitaria.</li>
                </ul>
                   

                <p class="lead" align="center">
                </p>
                </div>
            </div>
        </div> 
</section>
